<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <!-- Session Filter -->
  <filter>
    <filter-name>SessionCheckFilter</filter-name>
    <filter-class>org.example.filter.SessionCheckFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>SessionCheckFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>SessionCheckFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>param</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>

  <!-- Session Configuration -->
  <session-config>
    <session-timeout>30</session-timeout> <!-- Minutes -->
  </session-config>
</web-app>
